{% extends 'mail/base.html' %}
{% load static %}

{% block content %}
<div id="mail" class="mail p-2">
    <div class="mail-content">
        <form action="{% url 'add-mail' %}" method="post">
            {% csrf_token %}
            {{ form.user }}
            {{ form.category }}
            <p class="form-control">
                {{ form.recipients }}
            </p>
            <p class="form-control">
                {{ form.sender }}
            </p>
            <p class="form-control">
                {{ form.subject }}
            </p>
            <p class="form-control">
                {{ form.body }}
            </p>
            <button class='mail-box-btn next' id="button-reply2" type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock content %}