{% extends 'mail/base.html' %}
{% load static %}

{% block content %}
<div id="mail" class="mail p-2">
    <div class="left">
        <div class="wrapper center-flex">
            <div class="chk d-flex" title="Выбрать">
                <div class="button">
                    <img src="{% static 'mail/img/icons/chk.png' %}" alt="" />
                </div>
                <div class="button">
                    <img src="{% static 'mail/img/icons/after.png' %}" alt="" />
                </div>
            </div>
            <button class="btn center-flex rounded-circle p-2 me-2">
                <img src="{% static 'mail/img/icons/refresh.png' %}" alt="" />
            </button>
            
            <button class="btn center-flex rounded-circle p-2">
                <img src="{% static 'mail/img/icons/set.png' %}" alt="" />
            </button>
        </div>
    </div>
    <div class="mail-content">
        <div class="accordion accordion-flush" id="accordionMail">
            {% for chain_email in chain_emails %}
            <div class="accordion-item">
                <h2 class="accordion-header px-3" id="heading{{ chain_email.pk }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ chain_email.pk }}" aria-expanded="true" aria-controls="heading{{ chain_email.pk }}">
                        <div class="profile">
                            <p class="profile-name m-0">
                                <strong>&lt;{{ chain_email.sender }}&gt;</strong>
                            </p>
                            <p class="text-mail">
                                {{ chain_email.subject }}, {{ chain_email.timestamp }}, {% if chain_email.parent %} {{ chain_email.parent}} {% endif %}
                            </p>
                        </div>
                    </button>
                </h2>
                <div class="accordion-collapse collapse {% if forloop.first %} show {% endif %}" id="collapse{{ chain_email.pk }}" aria-labelledby="heading{{ chain_email.pk }}">
                    <div class="accordion-body">
                        {% if chain_email.sender == chain_email.user.email %}
                        <p class="m-0 profile-who">кому: {{ chain_email.recipients }}</p>
                        {% else %}
                        <p class="m-0 profile-who">кому: мне</p>
                        {% endif %}

                        <div class="py-3">
                            {{ chain_email.body|linebreaks }}
                        </div>
                        <div class="attachments">
                            <ul>
                            {% for attachment in attachments %}
                                <li class="d-inline-block">
                                    <a href="{{ attachment.file.url }}" download><img src="{% static 'mail/img/pdf.png' %}" width="64" alt="{{ attachment.file.name }}"></a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- <h2>{{ email.subject }}</h2>
        <div class="mail-content-user d-flex align-items-center justify-content-between">
            <img class='rounded-circle me-4' src="{% static 'mail/img/icons/profile.png' %}" alt="" />
            <div class="profile">
                <p class="profile-name m-0">
                    <span> &lt;{{ email.sender }}&gt; </span>
                </p>
                {% if email.sender == email.user.email %}
                <p class='m-0 profile-who'>кому: {{ email.recipients }}</p>
                {% else %}
                <p class='m-0 profile-who'>кому: мне</p>
                {% endif %}
            </div>
            <p class='user-date m-0 ms-auto me-2'>{{ email.timestamp }}</p>
            <button class="btn center-flex rounded-circle p-2">
                <img src="{% static 'mail/img/icons/start.png' %}" alt="" />
            </button>
            <button class="btn center-flex rounded-circle p-2">
                <img src="{% static 'mail/img/icons/format-4.png' %}" alt="" />
            </button>
            <button class="btn center-flex rounded-circle p-2" title="Ответить" id="button-reply1">
                <img src="{% static 'mail/img/icons/reply.png' %}" alt="" />
            </button>
            <button class="btn center-flex rounded-circle p-2">
                <img src="{% static 'mail/img/icons/set.png' %}" alt="" />
            </button>
        </div>

        <div class='mail-text'>
            {{ email.body|linebreaks }}
        </div> -->

        <div class='mail-box'>
            <button class='mail-box-btn next' id="button-reply2">
                <img src="{% static 'mail/img/icons/reply.png' %}" alt="">
                Ответить
            </button>
            <button class='mail-box-btn prev'>
                <img src="{% static 'mail/img/icons/reply-2.png' %}" alt="">
                Переслать
            </button>
            <button class='mail-box-btn smile'>
                <img src="{% static 'mail/img/icons/format-4.png' %}" alt="">
            </button>
        </div>
    </div>
</div>

<!-- MODAL WINDOW NEW REPLY MAIL -->
{% include 'mail/reply_mail_modal.html' %}

{% endblock content %}