{% extends 'mail/base.html' %}
{% load static %}

{% block content %}
<!-- START LIST MAIL -->
<div id="inbox-content" class="inbox-content">
	<div class="inbox-tabs d-flex">
		<div class="inbox-tab d-flex align-items-center in active">
			<div class="icon h-100"></div>
			<div class="info">Несортированные</div>
		</div>
		<div class="inbox-tab d-flex align-items-center promo">
			<div class="icon h-100"></div>
			<div class="info">Промоакции</div>
		</div>
		<div class="inbox-tab d-flex align-items-center soc">
			<div class="icon h-100"></div>
			<div class="info">Соцсети</div>
		</div>
		<div class="inbox-tab d-flex align-items-center alert">
			<div class="icon h-100"></div>
			<div class="info">Оповещения</div>
		</div>
	</div>

	<div class="messages-content">
		<div class="messages w-100">
			<div id="message" class="message center-flex justify-content-between py-2 ps-3">
				<div class="left center-flex">
					<div class="message-icon checkbox"></div>
					<div class="message-icon star"></div>
					<div class="message-icon level"></div>
					<div class="header">Pinterest</div>
				</div>
				<div class="center center-flex">
					<div class="title">
						Подтвердите свой адрес электронной почты
					</div>
					<div class="descr">
						<span>
							- Не забудьте подтвердить свой адрес электронной почты!
							Проверьте, что вы правильно...
						</span>
					</div>
				</div>
				<div class="right center-flex">
					<div class="date">8 нояб.</div>
					<div class="options"></div>
				</div>

				<div class="help">
					<div class="new__bottom-btn accent">
						<img src="{% static 'mail/img/icons/archive.png' %}" alt="" />
					</div>
					<div class="new__bottom-btn">
						<img src="{% static 'mail/img/icons/format-10.png' %}" alt="" />
					</div>
					<div class="new__bottom-btn">
						<img src="{% static 'mail/img/icons/draft.png' %}" alt="" />
					</div>
					<div class="new__bottom-btn">
						<img src="{% static 'mail/img/icons/delay.png' %}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END LIST MAIL -->
{% endblock content %}