{% extends 'mail/base.html' %}
{% load static %}

{% block content %}
<!-- START LIST MAIL -->
<div id="inbox-content" class="inbox-content">
	<!-- <form action="" method="get"> -->
	<!-- {% csrf_token %} -->
	<div id="sticky" class="sticky align-items-center justify-content-between me-4 px-4">
		<div class="left">
			<div class="wrapper center-flex">
				<div class="chk d-flex" title="Выбрать">
					<div class="button">
						<img src="{% static 'mail/img/icons/chk.png' %}" alt="" />
					</div>
					<div class="button">
						<img src="{% static 'mail/img/icons/after.png' %}" alt="" />
					</div>
				</div>
				<button class="btn center-flex rounded-circle p-2 me-2">
					<img src="{% static 'mail/img/icons/refresh.png' %}" alt="" />
				</button>
				<button type="button">
					<img src="{% static 'mail/img/icons/format-10.png' %}" alt="">
				</button>
				<button class="btn center-flex rounded-circle p-2">
					<img src="{% static 'mail/img/icons/set.png' %}" alt="" />
				</button>
			</div>
		</div>

		<div class="right center-flex mp-auto">
			<div class="count center-flex rounded-3">1-1 из 1</div>
			<button class="btn center-flex rounded-circle p-2" title="Пред.">
				<img src="{% static 'mail/img/icons/prev.png' %}" alt="" />
			</button>
			<button class="btn center-flex rounded-circle p-2" title="След.">
				<img src="{% static 'mail/img/icons/next.png' %}" alt="" />
			</button>
		</div>
	</div>
	<div id="inbox-content" class="inbox-content">
		<div class="inbox-tabs d-flex">
			<div class="inbox-tab d-flex align-items-center in active">
				<div class="icon h-100"></div>
				<div class="info">Несортированные</div>
			</div>
			<div class="inbox-tab d-flex align-items-center promo">
				<div class="icon h-100"></div>
				<div class="info">Промоакции</div>
			</div>
			<div class="inbox-tab d-flex align-items-center soc">
				<div class="icon h-100"></div>
				<div class="info">Соцсети</div>
			</div>
			<div class="inbox-tab d-flex align-items-center alert">
				<div class="icon h-100"></div>
				<div class="info">Оповещения</div>
			</div>
		</div>

		<div class="messages-content">
			<table class="table-borderless message-table w-100">
				<body class="messages ">
					{% for email in emails %}
					<tr id="message-id-{{ email.pk }}" class="message text-nowrap border-bottom">
						<td class="d-flex my-2">
							<div class="px-1" style="padding-top: 2px;">
								<input type="checkbox" id="message-chk-{{ email.pk }}" value="message-chk-{{ email.pk }}">
							</div>
							<div class="px-1">
								<img src="{% static 'mail/img/icons/message-star.png' %}" alt="">
							</div>
							<div class="px-1" style="padding-top: 1px;">
								<img src="{% static 'mail/img/icons/message-important.png' %}" alt="">
							</div>
						</td>
						<td>
							{% if not email.read %}
							<div class="fw-bold1"><a href="{% url 'mail-body' email.pk %}">{{ email.sender }}</a></div>
							{% else %}
							<div><a href="{% url 'mail-body' email.pk %}">{{ email.sender }}</a></div>
							{% endif %}
						</td>
						<td>
							<a href="{% url 'mail-body' email.pk %}">
								<div class="d-flex justify-content-start align-items-start">
									{% if not email.read %}
									<div class="fw-bold1 px-2">
										{{ email.subject|truncatechars:25 }}
									</div>
									{% else %}
									<div class="px-2">
										{{ email.subject|truncatechars:25 }}
									</div>
									{% endif %}
									<div class="descr">
										<span>
											- {{ email.body|truncatechars:80 }}
										</span>
									</div>
								</div>
							</a>
						</td>
						<td class="right">
							<div class="center-flex">
								<div class="date">{{ email.timestamp }}</div>
								<div class="options"></div>
							</div>
						</td>
						<td class="help">
							<div class="help">
								<div class="new__bottom-btn accent">
									<img src="{% static 'mail/img/icons/archive.png' %}" alt="" />
								</div>
								<form action="{% url 'delete-mail' email.pk %}" method="post">
									{% csrf_token %}
									<div class="new__bottom-btn">
										<button type="submit" title="Удалить"><img src="{% static 'mail/img/icons/format-10.png' %}" alt="Del"></button>
									</div>
								</form>
								<div class="new__bottom-btn">
									<img src="{% static 'mail/img/icons/draft.png' %}" alt="" />
								</div>
								<div class="new__bottom-btn">
									<img src="{% static 'mail/img/icons/delay.png' %}" alt="" />
								</div>
							</div>
						</td>
					</tr>
					{% endfor %}
				</body>
			</table>
		</div>
	</div>
	<!-- </form> -->
</div>

<!-- END LIST MAIL -->
{% endblock content %}