<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/img/gmail.ico' %}">
    <link rel="stylesheet" href="{% static 'mail/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'mail/css/style.css' %}" />
    <title>{{ title }}</title>

</head>

<body>
    <div id="login">
        <form method="post" action="{% url 'login' %}">
            <div class="login-container">
                <div class="wrapper">

                    <div class="left">
                        <div class="logo">
                            <svg xmlns="https://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 40 48"
                                aria-hidden="true" jsname="jjf7Ff">
                                <path fill="#4285F4"
                                    d="M39.2 24.45c0-1.55-.16-3.04-.43-4.45H20v8h10.73c-.45 2.53-1.86 4.68-4 6.11v5.05h6.5c3.78-3.48 5.97-8.62 5.97-14.71z">
                                </path>
                                <path fill="#34A853"
                                    d="M20 44c5.4 0 9.92-1.79 13.24-4.84l-6.5-5.05C24.95 35.3 22.67 36 20 36c-5.19 0-9.59-3.51-11.15-8.23h-6.7v5.2C5.43 39.51 12.18 44 20 44z">
                                </path>
                                <path fill="#FABB05"
                                    d="M8.85 27.77c-.4-1.19-.62-2.46-.62-3.77s.22-2.58.62-3.77v-5.2h-6.7C.78 17.73 0 20.77 0 24s.78 6.27 2.14 8.97l6.71-5.2z">
                                </path>
                                <path fill="#E94235"
                                    d="M20 12c2.93 0 5.55 1.01 7.62 2.98l5.76-5.76C29.92 5.98 25.39 4 20 4 12.18 4 5.43 8.49 2.14 15.03l6.7 5.2C10.41 15.51 14.81 12 20 12z">
                                </path>
                            </svg>
                        </div>

                        <h1>Вход</h1>
                        <span>Используйте аккаунт Google</span>
                    </div>

                    <div class="right">
                        {% csrf_token %}
                        <div class="py-2">
                            {{ form.username }}
                        </div>
                        <div class="py-2">
                            {{ form.password }}
                        </div>
                        <div class="mb-3">
                            <a class="d-flex position-relative" href="">Забыли адрес электронной почты?</a>
                        </div>
                        <div class="form-info mt-5">
                            <span>Работаете на чужом компьютере? Включите гостевой режим.</span>
                            <a class="d-flex position-relative" href="">Подробнее об использовании гостевого режима</a>
                        </div>
                    </div>
                    <div class="nav w-100 d-flex">
                        <a class="btn-primary cr_ac p-2" href="{% url 'register' %}">Создать аккаунт</button>
                        <button class="btn-primary next" type="submit">Далее</button>
                    </div>

                </div>

            </div>
            <div class="nav-bar w-100 d-flex">
                <div class="dd">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle transparent"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="min-width: 200px;color: black;display: flex;align-items: center;justify-content: space-between;">
                            Русский
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">USA</a></li>
                            <li><a class="dropdown-item" href="#">China</a></li>
                        </ul>
                    </div>

                </div>
                <div class="btns">
                    <button class="btn-primary transparent" type="submit">Справка</button>
                    <button class="btn-primary transparent" type="submit">Конфиденциальность</button>
                    <button class="btn-primary transparent" type="submit">Условия</button>
                </div>

            </div>
        </form>
    </div>
    <script src="{% static 'mail/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>